// ! TODO: rename the file to '.env'

// * Gmail Configs
CLIENT_ID = <YOUR_CLIENT_ID>
CLIENT_SECRET = <YOUR_CLIENT_SECRET>
REDIRECT_URI = 'https://developers.google.com/oauthplayground'
REFRESH_TOKEN = <YOUR_REFRESH_TOKEN>


// * Database
DB_DATABASE = <DATABASE_NAME>
DB_USERNAME = <DATABASE_USER>
DB_PASSWORD = <DATABASE_PASS>
VALIDATE_TABLE_NAME = <VALIDATE_TABLE_NAME>
USERS_TABLE_NAME = <USERS_TABLE_NAME>
FORGOT_PASSWORD_TABLE_NAME = <FORGOT_PASSWORD_TABLE_NAME>
DB_PORT = 5432


// * Authentication Configs
TOKEN_IN_HEADER = <YOUR_TOKEN_IN_HEADER>
ACCOUNT_TOKEN_KEY = <RANDOM_STRING>
ACCOUNT_TOKEN_EXPIRE_TIME = '2h'
FORGOT_TOKEN_KEY = <RANDOM_STRING>
FORGOT_PASSWORD_TOKEN_EXPIRE_TIME = '2h'
SALT_ROUNDS = '10'


// * Other Configs
SERVER_PORT = <THE_SERVER_PORT>
